@import './mixin/img-to-bg';
@import './mixin/media-query';

// 변수선언
$color-1: #00d084;

// Common
.inner {
	max-width: 1280px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	margin: 0 auto;
}

.section {
	padding-top: 3rem;
}

// Header
.header {
	border-bottom: 1px solid #ececec;
	background-color: #fff;
	.inner {
		padding: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include mdq-max(lg) {
			flex-direction: column-reverse;
			gap: 10px;
			padding-top: 10px;
			padding-bottom: 0;
		}
	}
	&-left {
		display: flex;
		align-items: center;
		@include mdq-max(lg) {
			width: 100%;
			position: relative;
			&:before {
				content: '';
				display: block;
				width: 200%;
				position: absolute;
				left: -30%;
				top: 0;
				height: 1px;
				background-color: #ececec;
			}
		}
	}
	&__logo {
		background-size: 103px 20px;
		background-position: 0 0;
		width: 103px;
		height: 15px;
		display: block;
		cursor: pointer;
		background-image: url('../images/logo.png');
		margin-right: 25px;
		@include mdq-max(lg) {
			display: none;
		}
	}
	&__nav {
		display: flex;
		@include mdq-max(lg) {
			margin-left: -5px;
			margin-right: -5px;
			padding: 5px 0;
		}
		.link {
			position: relative;
			padding: 0 8px;
			display: block;
			font-size: 16px;
			font-weight: 600;
			color: #777;
			line-height: 35px;
			text-decoration: none;
			margin-right: 15px;
			@include mdq-max(lg) {
				padding: 0 5px;
				font-size: 15px;
				line-height: auto;
			}
		}
	}
	&__plus {
		i {
			background-size: 103px 20px;
			background-position: 0 -16px;
			background-image: url('../images/logo.png');
			width: 18px;
			height: 4px;
			display: block;
		}
		@include mdq-max(lg) {
			display: none;
		}
	}
	&-right {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		@include mdq-max(lg) {
			justify-content: space-between;
			align-items: center;
		}
		.logo-mobile {
			background-size: 81px 17px;
			background-position: 0 0;
			width: 81px;
			height: 14px;
			display: block;
			cursor: pointer;
			background-image: url(../images/logo.png);
			@include mdq-min(lg) {
				display: none;
			}
		}
	}
	.search {
		display: inline-block;
		position: relative;
		overflow: hidden;
		width: 210px;
		height: 32px;
		margin: 2px 5px 0 0;
		border-radius: 100px;
		background-color: #f3f3f3;
		text-align: left;
		vertical-align: top;
		@include mdq-max(lg) {
			width: 150px;
		}
		input {
			color: rgb(160, 160, 160);
			overflow: hidden;
			position: relative;
			width: 90%;
			height: 32px;
			padding-left: 36px;
			border: 0;
			background: 0 0;
			line-height: 30px;
			line-height: 32px\9;
			color: #969696;
			outline: 0;
			z-index: 10;
		}
		&-inner {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
		.btn {
			position: absolute;
			left: 1px;
			top: 0;
			display: block;
			overflow: hidden;
			padding: 9px 12px;
			.ico {
				background-size: 315px 314px;
				background-position: -75px -256px;
				width: 14px;
				height: 14px;
				display: block;
				background-image: url(../images/sp_grafolio_ratio.png);
			}
		}
	}
	.btn-login {
		display: inline-block;
		min-width: 69px;
		margin-left: 4px;
		padding: 9px 16px 10px 16px;
		border-radius: 100px;
		background-color: #00d084;
		font-size: 13px;
		color: #fff;
		line-height: 17px;
		vertical-align: top;
		text-align: center;
		text-decoration: none;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		@include mdq-max(lg) {
			display: none;
		}
	}
	.btn-mobile {
		font-size: 2rem;
		display: inline-flex;
		align-items: center;
		color: #666;
		@include mdq-min(lg) {
			display: none;
		}
	}
}

// 헤더메뉴
.recommend-wrap {
	display: none;
	position: absolute;
	z-index: 99;
	top: 76px;
	left: 0;
	right: 0;
	background: #fff;
	border-top: 1px solid #ececec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	&.active {
		display: block;
	}
	.recommend {
		position: relative;
		width: 1280px;
		margin: 0 auto;
		padding: 30px 20px;
		background: #fff;
		display: flex;
		&-title {
			display: block;
			margin-bottom: 17px;
			font-size: 12px;
			color: #888;
			letter-spacing: -0.2px;
			font-weight: 400;
		}
		&-tag {
			flex: 1 0 27%;
			max-width: 27%;
		}
		&-creator {
			flex: 1 0 33%;
			max-width: 33%;
			margin-right: 20px;
		}
		&-list {
			display: flex;
			li {
				width: 80px;
				margin-left: 18px;
				text-align: center;
				&:first-of-type {
					margin-left: 0;
				}
				.thumb {
					overflow: hidden;
					position: relative;
					height: 80px;
					margin-bottom: 11px;
					border-radius: 50%;
					border: solid 1px rgba(0, 0, 0, 0.05);
				}
				.name {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					margin-bottom: 5px;
					font-size: 13px;
					color: #1a1a1a;
					text-align: center;
				}
				.category {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-size: 12px;
					color: #888;
					text-align: center;
				}
				.desc {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					margin-bottom: 5px;
					font-size: 13px;
					color: #1a1a1a;
					text-align: left;
				}
				.creator {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-size: 12px;
					color: #888;
					text-align: left;
				}
			}
		}
		&-work {
			flex: 1 0 35%;
			max-width: 35%;
			.recommend-list {
				li {
					width: 100%;
					.thumb {
						border-radius: initial;
						@include img-to-bg(160/240);
					}
				}
			}
		}
		.tag-area {
			overflow: hidden;
			height: 112px;
			width: 100%;
			.item {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				float: left;
				height: 28px;
				max-width: 100%;
				padding: 0 15px;
				border: 1px solid #ccc;
				background: #fff;
				font-size: 13px;
				color: #1a1a1a;
				line-height: 28px;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				border-radius: 20px;
				margin-bottom: 10px;
				margin-right: 10px;
			}
		}
	}
	.btn-close {
		position: absolute;
		top: 28px;
		right: 26px;
		background-size: 315px 314px;
		background-position: -186px -197px;
		background-image: url('../images/sp_grafolio_ratio.png');
		width: 17px;
		height: 17px;
		outline: 0;
	}
}

// // 메인 비주얼 텍스트 영역 트랜지션
// @mixin mvTextAnim($offset, $duration) {
// 	transform: translateY($offset);
// 	opacity: 0;
// 	transition: #{$duration}ms opacity, #{$duration}ms transform;
// }

// 메인 비주얼 페이지네이션 프로그레스 애니메이션
// @keyframes progress {
// 	0% {
// 		width: 0;
// 	}

// 	100% {
// 		width: 100%;
// 	}
// }

// Pick 섹션
.section-pick {
	.tit-bx {
		display: flex;
		align-items: center;
		@include mdq-max(lg) {
			align-items: flex-start;
			flex-direction: column;
		}
		.tit {
			font-size: 1.8rem;
			font-weight: bold;
			margin-right: 25px;
			@include mdq-max(lg) {
				font-size: 1.5rem;
				margin-bottom: 10px;
			}
		}
		.category {
			display: flex;
			margin-left: -5px;
			margin-right: -5px;
			&__item {
				padding: 0 5px;
				.link {
					display: inline-block;
					height: 32px;
					padding: 0 20px;
					border-radius: 19px;
					box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.06);
					border: solid 1px rgba(153, 153, 153, 0.2);
					font-size: 14px;
					color: #111;
					line-height: 31px;
					&.on {
						color: #fff;
						font-weight: 600;
						border-color: rgba(0, 0, 0, 0);
						background: #e4bc2c;
					}
				}
			}
		}
	}

	.swiper-wrapper {
		padding: 20px 0;
	}

	.swiper-slide {
		// S : Text Transition

		// ( .swiper-slide-active 일 때 )
		&-active {
			.txt-bx {
				.title,
				.text {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}

		// E : Text Transition
	}

	.swiper-button {
		z-index: 10;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: #fff;
		font-size: rem(40);
		transition: 300ms color;
		background-color: rgba(0, 0, 0, 0.2);
		width: 50px;
		height: 50px;

		&:hover {
			color: $color-1;
		}

		&--prev {
			left: 0;
		}

		&--next {
			right: 0;
		}

		@include mdq-max(xxl) {
			display: none;
		}
	}

	.item {
		position: relative;
	}

	.img-bx {
		@include img-to-bg(100%);
		border-radius: 15px;
		box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
	}

	.txt-bx {
		//영역의 중앙 노출
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		text-shadow: 0 0 1em rgba(#000, 0.1);
		letter-spacing: letterSpacing(-50);
		line-height: 1.3;

		.title {
			font-size: em(80);
		}

		.text {
			margin-top: 1em;
			font-size: em(30);
			font-weight: 300;
			transition-delay: 300ms !important;
		}
	}
}

// Creator 섹션
.section-creator {
	.tit-bx {
		.tit {
			font-size: 1.8rem;
			font-weight: bold;
			margin-bottom: 20px;
			@include mdq-max(lg) {
				font-size: 1.5rem;
			}
		}
	}

	.creators {
		display: flex;
		margin-left: -15px;
		margin-right: -15px;

		@include mdq-max(sm) {
			margin-left: -10px;
			margin-right: -10px;
		}

		&-wrap {
			@include mdq-max(xl) {
				overflow-x: auto;
			}
		}

		&__item {
			flex: 1 0 11.11%;
			max-width: 11.11%;
			padding: 0 15px;
			@include mdq-max(xl) {
				flex: 1 0 15%;
				max-width: 15%;
			}
			@include mdq-max(md) {
				flex: 1 0 20%;
				max-width: 20%;
			}
			@include mdq-max(sm) {
				padding: 0 10px;
				flex: 1 0 28%;
				max-width: 28%;
			}

			.link {
				display: block;
				.creators__thumb {
					position: relative;
					.img-bx {
						border: solid 1px rgba(0, 0, 0, 0.05);
						@include img-to-bg(100%);
						border-radius: 50%;
					}
					button {
						position: absolute;
						right: 0;
						bottom: 0;
						background-color: $color-1;
						width: 30px;
						height: 30px;
						color: white;
						border-radius: 50%;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						.xi-plus {
							display: block;
						}
						.xi-check {
							display: none;
						}
						&.plus {
							.xi-plus {
								display: none;
							}
							.xi-check {
								display: block;
							}
						}
					}
				}

				.tit {
					font-size: 15px;
					color: #1a1a1a;
					text-align: center;
					margin-top: 10px;
				}
			}
		}
	}
}

// Discover 섹션
.section-discover {
	padding-bottom: 0;
	.tit-bx {
		display: flex;
		margin-bottom: 20px;
		@include mdq-max(lg) {
			margin-left: -10px;
			margin-right: -10px;
		}
		.tit {
			font-size: 1.8rem;
			font-weight: bold;
			margin-right: 25px;
			@include mdq-max(lg) {
				display: none;
			}
		}
		.tags {
			display: flex;
			align-items: center;
			&__item {
				padding: 0 20px;
				font-size: 1rem;
				@include mdq-max(lg) {
					padding: 0 10px;
				}

				.link {
					font-weight: 400;
					color: #555;

					&.on {
						font-weight: 700;
						color: #111;
						position: relative;
						&:after {
							content: '';
							position: absolute;
							left: 0;
							right: 0;
							bottom: -1px;
							border-bottom: 3px solid transparent;
							border-color: #111;
							border-width: 2px;
						}
					}
				}
			}
		}
	}
	.category-wrap {
		position: relative;
		width: 100%;
	}
	.category {
		display: flex;
		margin-left: -5px;
		width: 100%;
		padding-right: 100px;
		flex-wrap: wrap;
		@include mdq-max(lg) {
			padding-right: 50px;
		}
		@include mdq-max(sm) {
			padding-right: 30px;
		}
		&__item {
			padding: 0 5px;
			margin-bottom: 10px;
			.link {
				display: inline-block;
				height: 32px;
				padding: 0 20px;
				border-radius: 19px;
				border: solid 1px #ddd;
				font-size: 14px;
				color: #555;
				font-weight: 400;
				line-height: 31px;
				&.on {
					background: #111;
					border-color: rgba(117, 117, 117, 0.2);
					color: #fff;
				}
			}
		}
	}
	.toggle-btn {
		background-image: url('../images/sp_collection.png');
		position: absolute;
		top: 10px;
		right: 0;
		background-size: 239px 214px;
		background-position: -183px -120px;
		width: 28px;
		height: 14px;
	}
	.wallpapers {
		background-color: #f4f4f4;
		padding-bottom: 3.5rem;
		.inner {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 20px;
			@include mdq-max(xl) {
				grid-template-columns: repeat(2, 1fr);
			}
			@include mdq-max(md) {
				gap: 10px;
			}
		}
		&__item {
			position: relative;
			.img-bx {
				@include img-to-bg(percentage(226/402));
			}
			&:hover {
				.hover-bx {
					opacity: 1;
				}
			}
			.hover-bx {
				transition: opacity 0.5s;
				opacity: 0;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: rgb(0, 0, 0);
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.6041010154061625) 0%, rgba(255, 255, 255, 0) 100%);
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				padding: 20px;
				cursor: pointer;
				.hover__tit {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					margin-bottom: 7px;
					font-size: 15px;
					font-weight: 700;
					color: #fff;
				}
				.hover__info {
					display: flex;
					justify-content: space-between;
					color: white;
					font-size: 14px;
					position: relative;
					.wrapper {
						display: flex;
					}
					.thumb {
						display: block;
						border-radius: 50%;
						overflow: hidden;
						margin-right: 10px;
						border-radius: 50%;
						background-position: -122px -222px;
						width: 22px;
						height: 22px;
					}
					.name {
					}
					.download {
						display: inline-block;
						position: relative;
						&:before {
							content: '';
							display: inline-block;
							height: 9px;
							margin: 5px 7px 0;
							border: solid 1px rgba(255, 255, 255, 0.4);
							vertical-align: top;
						}
					}
					button {
						background-image: url('../images/sp_collection.png');
						display: block;
						position: absolute;
						top: auto;
						bottom: -1px;
						right: 0;
						background-size: 239px 214px;
						background-position: -183px -83px;
						width: 36px;
						height: 36px;
					}
				}
			}
		}
		.sort-inner {
			max-width: 1240px;
			width: 100%;
			padding: 20px 0;
			margin: 0 auto;
			@include mdq-max(xxl) {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
		.sort-select {
			max-width: 94px;
			margin-right: 0;
			margin-left: auto;
			button {
				width: 100%;
				position: relative;
				padding-right: 47px;
				padding-left: 10px;
				border: 0;
				font-size: 12px;
				letter-spacing: -0.3px;
				color: #555;
				&:after {
					content: '';
					position: absolute;
					right: 17px;
					top: 50%;
					margin-top: -3px;
					background-size: 315px 314px;
					background-position: -90.5px -222px;
					background-image: url('../images/sp_grafolio_ratio.png');
					width: 10px;
					height: 6px;
				}
			}
			&__list {
				display: block;
				position: absolute;
				min-width: 94px;
				padding: 5px 0;
				border: 1px solid #dbdbdb;
				background-color: #fff;
				z-index: 10;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				.item {
					a {
						display: block;
						padding: 0 46px 0 15px;
						font-size: 12px;
						line-height: 26px;
						color: #555;
						letter-spacing: -0.3px;
						white-space: nowrap;
					}
					&.on {
						font-weight: bold;
					}
				}
			}
		}
	}
}

// Footer
.footer {
	background-color: #f4f4f4;
	border-top: 1px solid #ececec;
	padding: 30px 0;
	@include mdq-max(xl) {
		padding: 15px 0;
	}
	.policy {
		display: flex;
		justify-content: flex-end;
		margin-left: -20px;
		margin-right: -20px;
		font-size: 12px;
		color: #666;
		&__item {
			padding: 0 20px;
		}
	}
}

