.inner {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 50px 0;
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}
.header .inner {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
}
.header__nav .link {
  position: relative;
  padding: 0 10px;
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #777;
  line-height: 35px;
  text-decoration: none;
}

.tit-bx {
  display: flex;
  align-items: center;
}
.tit-bx .tit {
  font-size: 1.5rem;
  font-weight: bold;
}
.tit-bx .category {
  display: flex;
}
.tit-bx .category__item {
  padding: 0 5px;
}
.tit-bx .category__item .link {
  display: inline-block;
  height: 32px;
  padding: 0 20px;
  border-radius: 19px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px rgba(153, 153, 153, 0.2);
  font-size: 14px;
  color: #111;
  line-height: 31px;
}
.tit-bx .category__item .link.on {
  color: #fff;
  font-weight: 600;
  border-color: rgba(0, 0, 0, 0);
  background: #e4bc2c;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.section-pick .swiper-wrapper {
  padding: 20px 0;
}
.section-pick .swiper-slide-active .txt-bx .title,
.section-pick .swiper-slide-active .txt-bx .text {
  transform: translateY(0);
  opacity: 1;
}
.section-pick .swiper-button {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: rem(40);
  transition: 300ms color;
  background-color: rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
}
.section-pick .swiper-button:hover {
  color: #00d084;
}
.section-pick .swiper-button--prev {
  left: 0;
}
.section-pick .swiper-button--next {
  right: 0;
}
@media all and (max-width: 1400px) {
  .section-pick .swiper-button {
    display: none;
  }
}
.section-pick .item {
  position: relative;
}
.section-pick .img-bx {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
}
.section-pick .img-bx::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.section-pick .img-bx > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.section-pick .txt-bx {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  letter-spacing: letterSpacing(-50);
  line-height: 1.3;
}
.section-pick .txt-bx .title {
  font-size: em(80);
}
.section-pick .txt-bx .text {
  margin-top: 1em;
  font-size: em(30);
  font-weight: 300;
  transition-delay: 300ms !important;
}